#wrapper{
    margin: 30px auto;
    width: 500px;
    border: 2px solid navy;
    padding: 30px;
    border-radius: 30px;
}

img{
    width: 150px;
    display: block;
    margin: 0 auto;
}

button{
    width: 100%;
    height: 40px;
    background-color: lightgreen;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}